@import "partials/mixins";
@import "partials/setup";
@import "partials/variables";
@import "partials/main";
@import "partials/portfolio";

/////////
// fonts

@font-face {
	font-family: "TT Norms R";
	src: url("../../assets/fonts/TTNorms-Regular.eot");
	src: url("../../assets/fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/TTNorms-Regular.woff") format("woff"),
		url("../../assets/fonts/TTNorms-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TT Norms M";
	src: url("../../assets/fonts/TTNorms-Medium.eot");
	src: url("../../assets/fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/TTNorms-Medium.woff") format("woff"),
		url("../../assets/fonts/TTNorms-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

// end fonts
////////////

a {
	text-decoration: none;

	&:link,
	&:visited,
	&:hover,
	&:active {
		color: black;
	}
}

//////////////
// animations

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}