.portfolioHeader {
	font-family: monospace;
	font-size: 10px;
	height: 224px;

	&:before {
		font-family: $titleFont;
		content: "Jessica Del Grande selected work";
		position: fixed;
		font-size: 160px;
		color: $titleColorNormal;
		z-index: -10;
		width: 40vw;
		line-height: 100px;
		margin: 0;
	}
}

.portfolioHeaderText {
	position: fixed;
	margin: 20px 0 0 40px;
	// font-family: monospace;
	font-family: $titleFont;
	// font-size: 10px;
	font-size: 3em;
	line-height: 2em;
	height: 224px;

	// &:before {
	// 	font-family: monospace;
	// 	content: "Jessica Del Grande"
	// 	font-size: 10px;
	// 	height: 224px;
	// 	position: fixed;
	// 	margin: 20px 0 0 40px;
	// }
}

.portfolioBody {
	// background-color: #e4e4e4;
}

.portfolioWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 18px;
	max-width: 916px;
	height: 100%;
	// margin: auto auto 0px 50px;
	margin: auto 50px 50px auto;
}

.singleWrapper {
	font-family: monospace;
	position: relative;
}

.preview {
	width: 300px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: initial;
}

.baseText {
	display: flex;
	flex-wrap: wrap;
}

.react,
.fb,
.js,
.jq,
.es6,
.css3,
.sass,
.html5,
.svg,
.pp,
.api,
.ajax {
	display: block;
	background-color: rgba(105,105,105, 1);
	padding: 4px;
	margin: 4px;
	font-size: 24px;
}

.previewOverlay {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.tarotOverlay {
	opacity: 1;
	background-image: url("../../assets/tarot300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.ipsumOverlay {
	opacity: 1;
	background-image: url("../../assets/ipsum300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.anatomyOverlay {
	opacity: 1;
	background-image: url("../../assets/anatomy300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.bearOverlay {
	opacity: 1;
	background-image: url("../../assets/bear300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.whatToBringOverlay {
	opacity: 1;
	background-image: url("../../assets/whereshouldibuy300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.brillianOverlay {
	opacity: 1;
	background-image: url("../../assets/ipsum300.jpg");

	&:hover {
		opacity: 0.2;
	}
}

.overOverlay {
	opacity: 1;

	&:hover {
		opacity: 0.2;
	}
}

.definityOverlay {
	opacity: 1;
	background-image: url("../../assets/definity300.jpg");

	&:hover {
		opacity: 0.2;
	}
}