.portfolioHeader {
	font-family: monospace;
	font-size: 10px;
	height: 224px;

	&:before {
		font-family: $titleFont;
		content: "Jessica Del Grande selected work";
		position: fixed;
		font-size: 160px;
		color: $titleColorNormal;
		z-index: -10;
		width: 40vw;
		line-height: 100px;
	}
}

.portfolioBackground {
	background-color: #e4e4e4;
}

.portfolioWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	max-width: 55%;
	height: 100%;
	margin: auto auto 0px 50px;
}

.singleWrapper {
	font-family: monospace;
	position: relative;
}

.preview {
	width: 300px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: initial;
}

.previewHover {
	opacity: 0;
	width: 300px;
	height: 200px;
	position: absolute;
	background-color: rgba(0,0,0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&:hover {
		opacity: 1;
	}
}

.tarotImage {
	background-image: url("../../assets/tarot300.jpg");
}

.ipsumImage {
	background-image: url("../../assets/ipsum300.jpg");
}

.anatomyImage {

}

.bearImage {
	background-image: url("../../assets/bear300.jpg");
}

.whatToBringImage {
	background-image: url("../../assets/whereshouldibuy300.jpg");
}

.oleanderImage {

}