// FONTS

$titleFont: 'TT Norms M', sans-serif;
$bodyFont: 'TT Norms R', sans-serif;
// $portfolioFontBG: 

// COLOURS

$pink: #fbd2d7;
$titleColorNormal: #cacaca;

// $sml: ( max: 570px );
// $med: ( max: 680px );
// $lrg: ( max: 750px );
