article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Basis Grotesque R";
  src: url("../../assets/fonts/BasisGrotesque-Regular.eot");
  src: url("../../assets/fonts/BasisGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BasisGrotesque-Regular.woff") format("woff"), url("../../assets/fonts/BasisGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Basis Grotesque M";
  src: url("../../assets/fonts/BasisGrotesque-Medium.eot");
  src: url("../../assets/fonts/BasisGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BasisGrotesque-Medium.woff") format("woff"), url("../../assets/fonts/BasisGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "TT Norms R";
  src: url("../../assets/fonts/TTNorms-Regular.eot");
  src: url("../../assets/fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/TTNorms-Regular.woff") format("woff"), url("../../assets/fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "TT Norms M";
  src: url("../../assets/fonts/TTNorms-Medium.eot");
  src: url("../../assets/fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/TTNorms-Medium.woff") format("woff"), url("../../assets/fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px; }

.photoWrapper {
  background-image: url("../../assets/tea_brutal.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }

.textWrapper {
  position: relative;
  margin-top: 4vh; }

.title {
  font-family: "TT Norms M", sans-serif;
  font-size: 5em;
  white-space: nowrap;
  letter-spacing: -1em;
  transition: all 1s ease; }
  .title:hover {
    letter-spacing: normal;
    text-align: left;
    margin-left: -15vw; }

.titleNormal {
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: "TT Norms R", sans-serif;
  font-size: 3em;
  color: #cacaca;
  z-index: -10; }

.title:hover ~ .titleNormal {
  animation: fadeOut 1s ease-out forwards; }

.subhead {
  font-family: "TT Norms R", sans-serif;
  font-size: 3em;
  letter-spacing: -1em;
  margin-top: 1em;
  text-align: left;
  transition: all 1s ease; }
  .subhead:hover {
    letter-spacing: normal;
    text-align: left;
    margin-left: -15vw; }

.subheadNormal {
  position: absolute;
  top: 158px;
  left: 0px;
  font-family: "TT Norms R", sans-serif;
  font-size: 2em;
  color: #cacaca;
  z-index: -10;
  margin-bottom: 10vh; }

.subhead:hover ~ .subheadNormal {
  animation: fadeOut 1s ease-out forwards; }

.detailsContainer {
  margin: 3em 12px 0 8px; }

.details {
  font-family: "TT Norms R", sans-serif;
  font-size: 1em;
  text-align: left;
  margin-top: 18px;
  display: flex;
  border-bottom: 1px solid #cacaca;
  white-space: nowrap; }

.details-email {
  width: 250px;
  position: relative; }
  .details-email:before {
    position: absolute;
    top: -3px;
    left: 34px;
    content: url("../../assets/scribble-email.png"); }

.details-twitter {
  width: 156px;
  position: relative; }
  .details-twitter:before {
    position: absolute;
    top: -3px;
    left: 34px;
    content: url("../../assets/scribble-twitter.png"); }

.details-medium {
  width: 170px;
  position: relative; }
  .details-medium:before {
    position: absolute;
    top: -3px;
    left: 34px;
    content: url("../../assets/scribble-medium.png"); }

.details-github {
  width: 230px;
  position: relative; }
  .details-github:before {
    position: absolute;
    top: -3px;
    left: 34px;
    content: url("../../assets/scribble-github.png"); }

.details-desktop {
  width: 260px;
  position: relative; }
  .details-desktop:before {
    position: absolute;
    top: -3px;
    left: 34px;
    content: url("../../assets/scribble-desktop.png"); }

.detailsIcon svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  object-fit: contain; }

.detailsText {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden; }

a {
  text-decoration: none; }
  a:link, a:visited, a:hover, a:active {
    color: black; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
